
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>dddd</title>
    
    <!-- Le styles -->
    <link href="{{ asset('bundles/herbfrontend/css/bootstrap.css') }}" rel="stylesheet">
    <style>
    
    body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        background-color: #eee;
        font-size: 16px;
    }
     
    </style>
    
    

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    
    
  </head>

  <body>



<table class="table">
      <tr>
        <td colspan="2" style="text-align: center;">
            <img src="img/antlers.jpg" width="300" />
        </td>
      </tr>
      <tr>
        <td> 
        <h4>4精神方面 -<br />
          1. 增加活力<br />
          2. 提升情緒<br />
          3. 旺盛的企圖心<br />
          4. 更好的睡眠品質<br />
          5. 減少精神倦怠<br />
          6. 注意力集中、思緒清晰<br />
          7. 增強記憶力及專注能力<br />
          </h4>
        </td>
        <td> 
          <h4>
          性能力方面 -<br />
          1. 增進性愛的控制技巧<br />
          2. 增進性慾<br />
          3. 增進性愛滿意度<br />
          4. 助長性器官<br />
          5. 改善性功能失調(如陽痿、性冷感等)<br />
          6. 催情作用<br />
          </h4>
          
        </td>
        <td >
          <h4>
          身體各項機能方面 -<br />
          1. 較佳的消化能力<br />
          2. 提高免疫力<br />
          3. 減少僵硬及疼痛<br />
          4. 增進骨質密度、減少骨折機率<br />
          5. 強化心臟、改善血壓<br />
          6. 增強身體機能<br />
          7. 調節各器官及組織和諧運作的功能 
          </h4>
        </td>
      </tr>
      
      <tr>
        <td>
            <h4>
            外觀容貌方面 -<br />
              1. 減肥<br />
              2. 塑身<br />
              3. 較佳的皮膚光澤及彈性<br />
              4. 增進指甲生長及品質<br />
              5. 皺紋消退<br />
              6. 增進髮質及髮量<br />
              7. 容光煥發、精神飽滿<br />
              8. 外貌亮麗 
              </h4>
        </td>
        
        <td>
            <h4>
            體能方面 -<br />
              1. 增進身體柔軟度<br />
              2. 增強精力<br />
              3. 增進肌肉強度<br />
              4. 減少關節及肌肉疼痛<br />
              5. 增進運動及體能耐力<br />
              6. 硬朗及快速復原能力<br />
              7. 促進新陳代謝<br />
              </h4>
        </td>
        <td></td>
      </tr>
    </table>
    
</body>